html{
    height: 100%;
    background: radial-gradient(ellipse at center, #410c32 0%, black 70%);
}

p{
    margin: 0;
    padding: 0;
}

.digital{
    font-size: "share Tech Mono", monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px #ffea00, 0 0 20px rgba(193, 230, 10, 0);
}

#time{
    letter-spacing: 0.1em;
    font-size: 34px;
}